main {
  height: 100vh;
  background: red;
  text-shadow: 1px 1px 2px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.cstmbrgr {
  box-shadow: 5px 5px 14px;
  border-radius: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  background:peachpuff;
  color: black;
  text-shadow: 1px 1px 2px;

  }

  .mustard {
    color: yellow;
  }
  .bun{
    background: brown;
    width: 100%;
    color: white;
  }

  .ketchup {
    color:red;
  }